<h1>How many time user login within each hour/specific hour

<h3> 1.Change user login time into near complete hour using strftime i.e if 12:12:12 to 12:00:00
<h3> 2.Group by user_id and strftime 
<h3> 3.Count

In [24]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [26]:
%%sql sqlite://
CREATE TABLE user_loginto(
    user_id int,
    login_time date);

INSERT INTO user_loginto(user_id,login_time)values
(1,'2025-01-01 10:10:10'),(1,'2025-01-01 12:12:12'),(1,'2025-01-02 03:40:12'),(1,'2025-01-03 21:12:13'),(1,'2025-01-05 20:00:00'),
(2,'2025-01-01 15:15:15'),(2,'2025-01-01 07:17:17'),(2,'2025-01-01 00:00:00'),
(3,'2025-01-01 05:15:13'),(3,'2025-01-02 13:15:15'),(3,'2025-01-03 15:12:15');

RuntimeError: (sqlite3.OperationalError) table user_loginto already exists
[SQL: CREATE TABLE user_loginto(
    user_id int,
    login_time date);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [28]:
%%sql
select * from user_loginto;

Running query in 'sqlite://'

+---------+---------------------+
| user_id |      login_time     |
+---------+---------------------+
|    1    | 2025-01-01 10:10:10 |
|    1    | 2025-01-01 12:12:12 |
|    1    | 2025-01-02 03:40:12 |
|    1    | 2025-01-03 21:12:13 |
|    1    | 2025-01-05 20:00:00 |
|    2    | 2025-01-01 15:15:15 |
|    2    | 2025-01-01 07:17:17 |
|    2    | 2025-01-01 00:00:00 |
|    3    | 2025-01-01 05:15:13 |
|    3    | 2025-01-02 13:15:15 |
+---------+---------------------+
Truncated to displaylimit of 10.

In [32]:
%%sql
--Result code
SELECT 
  user_id,
  STRFTIME('%Y-%m-%d %H:00:00', login_time) AS hour_group,
  COUNT(*) AS login_count
FROM user_loginto
GROUP BY user_id, hour_group
ORDER BY user_id, hour_group;

Running query in 'sqlite://'

+---------+---------------------+-------------+
| user_id |      hour_group     | login_count |
+---------+---------------------+-------------+
|    1    | 2025-01-01 10:00:00 |      1      |
|    1    | 2025-01-01 12:00:00 |      1      |
|    1    | 2025-01-02 03:00:00 |      1      |
|    1    | 2025-01-03 21:00:00 |      1      |
|    1    | 2025-01-05 20:00:00 |      1      |
|    2    | 2025-01-01 00:00:00 |      1      |
|    2    | 2025-01-01 07:00:00 |      1      |
|    2    | 2025-01-01 15:00:00 |      1      |
|    3    | 2025-01-01 05:00:00 |      1      |
|    3    | 2025-01-02 13:00:00 |      1      |
+---------+---------------------+-------------+
Truncated to displaylimit of 10.